body{
	background: #e9ebee !important;
}
div#portrait{
	background-image: url("/assets/imgs/bg-img-handyman.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
div.container-form{
	background: aliceblue;border: 10px solid aliceblue;border-radius: 10px;margin: 25% auto;
}
 .f-s-4-em{
 	font-size: 4em;
 }